<div class="row">
    <div class="col">
        <form #addcustForm="ngForm" (ngSubmit)="addCustomer()" class="d-flex" autocomplete="off">
            <input name="customername" [(ngModel)]="model.customername" class="form-control me-2"
                placeholder="Customer Name" required>
            <input name="customernum" [(ngModel)]="model.customernum" class="form-control me-2"
                placeholder="Customer Number" required pattern="^\d{9}$"
                oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            <input name="dateofbirth" [(ngModel)]="model.dateofbirth" class="form-control me-2"
                placeholder="Date of Birth" type="date" required>
            <select name="gender" [(ngModel)]="model.gender" class="form-control me-2" required placeholder="Gender">
                <option value="" disabled>Select Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
            <button class="btn btn-outline-success" type="submit">Add new Customer</button>
        </form>
    </div>
</div>

@if (validationErrors.length > 0) {
<div class="alert alert-danger" style="margin-top: 10px; margin-bottom: 10px;">
    @for (err of validationErrors; track validationErrors.length) {

    <ul>
        <li>{{ err }}</li>
    </ul>

    }

</div>

}

@if (successMessage.length > 0) {
    <div class="alert alert-success" style="margin-top: 10px; margin-bottom: 10px;">
        @for (succ of successMessage; track successMessage.length) {
        
        <ul>
            <li>{{ succ }}</li>
        </ul>
    
        }
    
    </div>
    
    }